<ul>
  <li>
<a href="/users">Users</a>
</li>
 <li>
<a href="/photos">Photos</a>
</li>
</ul>


<h1> List of Users </h1>

<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <button>Add user</button>
</form>



<table border="1">
<tr>
<th>
ID
</th>

<th>
Username
</th>

<th>

</th>

</tr>

<% User.all.each do|x| %>

<tr>
<td>
<%= x.id %>
</td>

<td>
<%= x.username %>
</td>

<td>
<a href="/users/<%= x.username %>">Show details</a>
</td>

</tr>
<%end%>